body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(
        https://images.unsplash.com/photo-1564420228450-d9a5bc8d6565?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2913&q=80
        );
    background-size: cover;
}

.box {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 1vh;
    animation: 1.8s slideUp ease-out;
}

.box ul {
    list-style: none;
    padding: 0;
}

.box li {
    margin: 5px 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

.container h1{
    animation: 1.8s slideIn ease-out;
    z-index: 1;
    width: 20vh;
    height: 10vh;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}

.shuffleButton{
    cursor: pointer;
    padding: 12px 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 10vh;
    width: 20vh;
    height: 6vh;
    font-size: 2vh;
}

@media screen {
    .container h1{
        font-size: 2vh;
    }
    .box{
        height: 15vh;
        width: 15vh;
    }
    .box h2{
        font-size: 2vh;
    }
    .box li{
        font-size: 2vh;
    }
}

@media only screen and (max-width: 1200px) {
    .App {
        background-image: url(
            https://ci3.googleusercontent.com/mail-img-att/AIFldNr-V0Erk8W37DDhxEaIz0XzW7icOzUo5P3br6dAh5pDbwvLbQq6EQ7fuk_1oumu8bJXYE_QcrCJWAM1SoPVmC4UGyQyWWOH7UmJUe0mkpRSW7FBj8MVHLULzr6LlyZgY22lwb3r_hIiCkvV26KACvaMCUJC-J5oYmeDg516I49hXdmpGBv2rSs5OIDJl0hT6a5wM3wxprjrBldER0vcZI-02IioIwsGLfXoc3txjPSboH6nSGkRJ90DGwvJY2225PhAq5i810q6fHA0VRwbHex6t4zOouuNvaFY0uIscP9E4cQVXNhYEL50HmPEVZeM3TGH5uUduq4iK_sbbR-CplL9vkxeDWczn6nF3RemZmFM0mxACUvuzXoc6HMXv7t29jjEKlGksuSIXl0KTqTEes0WO6nrtV4q8HRoHJ2e5x5_3sdqX5Pvtndm32FeTvX6Co75EDEiTFfekxHBp3GCVjQyjbr0G1uGY_fneamyiSJaFPoSDQlR_WACMTkE1HpqoshxVMZlAGYZQQNjGwD_jiGh-WTViJHQGLWeqdolx26epagTNCkWMkielWCem_9Zd9a1AWJ7pgE2UCwYd09QUxt3tBZiFfP0lKR_6WkWpL2A3IaIctmREhUGlAW4rFGAahUqrCmJb9B7Vfm2f8Zjg-mvYVvKY8SQM0LnZnnxpK2dzVev7aRTGm5n0FhB0kpoUtAidd4rCmdRyZ1FKmzsE85MBdXk210JZe68OKdjEEUqzyQq1aFoQcYds605R-hFzZaHmFRt0QFnWq3ydPx3TgabCRlWVXRV9WlY0rZkr9c_pmzv39PC9R-QVuXRx9ntOU2Y94trNvdghz5CXfUAfTrO4265PN-0iIdv8OPw3KNvtFfQrw8Ik0rMN5g4MPBK7kukeMvkiXDk471jQOntz2Kaym2nNRmNC-zD919V1gQytiBLkeNJ-ulpWZzerwaBkQYc4lWj_YyEm-U3xsrgTgcUJH-u4MRVZFjQwPDGnJSpKPV7Fizo-ua2zjt1Ho4linWHiQHE41ruMK51ivY=s0-l75-ft
        );
    }
    .shuffleButton{
        cursor: pointer;
        padding: 12px 30px;
        background-color: teal;
        border: none;
        color: white;
        border-radius: 10vh;
        width: 20vh;
        height: 6vh;
        font-size: 2vh;
    }
    .container h1{
        z-index: 1;
        background-color: teal;
        color: white;
        width: 20vh;
        height: 10vh;
        padding: 10px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        border: 10px solid white;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(-100%); /* Start position, off-screen to the left */
        opacity: 0%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}
