body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(
        https://images.unsplash.com/photo-1564420228450-d9a5bc8d6565?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2913&q=80
        );
    background-size: cover;
}

.box {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 200px;
    background-color: rgba(240, 248, 255, 0.472);
}

.box ul {
    list-style: none;
    padding: 0;
}

.box li {
    margin: 5px 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

.shuffleButton{
    cursor: pointer;
    padding: 12px 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 10vh;
    width: 20vh;
    height: 6vh;
    font-size: 2vh;
}

@media screen {
    .container h1{
        font-size: 2vh;
    }
    .box{
        height: 15vh;
        width: 15vh;
    }
    .box h2{
        font-size: 2vh;
    }
    .box li{
        font-size: 2vh;
    }
}

@media only screen and (max-width: 1200px) {
    .App {
        background-image: url(
            https://images.unsplash.com/photo-1543988884-c01cfa7b41c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1958&q=80
            );
    }
}
