body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(
        https://images.unsplash.com/photo-1564420228450-d9a5bc8d6565?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2913&q=80
        );
    background-size: cover;
}

.box {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 1vh;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: 1s slideUp ease-out;
}

.box ul {
    list-style: none;
    padding: 0;
}

.box li {
    margin: 5px 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

.container h1{
    z-index: 1;
    width: 20vh;
    height: 10vh;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    animation: 1s slideIn ease-out;
}

.shuffleButton{
    cursor: pointer;
    padding: 12px 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 10vh;
    width: 20vh;
    height: 6vh;
    font-size: 2vh;
    animation: 1s slideLeft ease-out;
}

@media screen {
    .container h1{
        font-size: 2vh;
    }
    .box{
        height: 15vh;
        width: 15vh;
    }
    .box h2{
        font-size: 2vh;
    }
    .box li{
        font-size: 2vh;
        font-weight: 600;
    }
}

@media only screen and (max-width: 1200px) {
    .App {
        background-image: url(
            './images/blueBackground.png'
        );
    }
    .shuffleButton{
        cursor: pointer;
        padding: 12px 30px;
        /* background-color: yellow; */
        background-color: cadetblue;
        border: 1vh solid black;
        color: white;
        border-radius: 10vh;
        width: 20vh;
        height: 6vh;
        font-size: 2.5vh;
        margin-top: 4vh;
        font-weight: 600;
    }
    .shuffleButton:hover{
        width: 25vh;
        height: 8vh;
    }
    .container h1{
        z-index: 1;
        /* background-color: midnightblue; */
        background-color: cadetblue;
        color: white;
        width: 20vh;
        height: 10vh;
        padding: 10px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 15px solid black;
        box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.78);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(20px);
    }
    .box{
        /* border: 10px solid black; */
        border: none;
        display: inline-block;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        color: white;
        border-radius: 1vh;
        background-color: rgba(0, 0, 0, 0.38);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 10px 12px 24px 1px rgba(0, 0, 0, 0.926);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(-100%); /* Start position, off-screen to the left */
        opacity: 0%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}
